[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py= "*"
asgiref= "*"
astunparse= "*"
backports.zoneinfo= "*"
beautifulsoup4= "*"
cachetools= "*"
certifi= "*"
charset-normalizer= "*"
click="*"
contourpy="*"
cycler="*"
detoxify = "*"
Django="*"
django-cors-headers="*"
django-dotenv="*"
djangorestframework="*"
djangorestframework-simplejwt="*"
filelock="*"
flatbuffers="*"
fonttools="*"
gast="*"
gdown="*"
google-auth="*"
google-auth-oauthlib="*"
google-pasta="*"
grpcio="*"
h5py="*"
idna="*"
importlib-metadata="*"
importlib-resources="*"
jax="*"
joblib="*"
keras="*"
kiwisolver="*"
libclang="*"
Markdown="*"
MarkupSafe="*"
matplotlib="*"
ml-dtypes="*"
nlpaug="*"
nltk="*"
numpy="*"
oauthlib="*"
opt-einsum="*"
packaging="*"
pandas="*"
Pillow="*"
protobuf="*"
pyasn1="*"
pyasn1-modules="*"
PyJWT="*"
pyparsing="*"
python-dateutil="*"
python-dotenv="*"
pytz="*"
regex="*"
requests="*"
requests-oauthlib="*"
rsa="*"
scikit-learn="*"
scipy="*"
seaborn="*"
sentence-transformers = "*"
six="*"
soupsieve="*"
sqlparse="*"
tensorboard="*"
tensorboard-data-server="*"
tensorflow="*"
tensorflow-estimator="*"
tensorflow-io-gcs-filesystem="*"
termcolor="*"
threadpoolctl="*"
torch ="*"
transformers ="*"
tqdm="*"
typing-extensions="*"
tzdata="*"
urllib3="*"
Werkzeug="*"
wrapt="*"
zipp="*"


[dev-packages]

[requires]
python_version = "3.10"
